node_modules
**/build/
**/lib/
**/dist/
**/.idea/*
**/.next/*

.env
.env.*.local
.env.local
.DS_Store
coverage
database-coverage.html
*.log
tsconfig.tsbuildinfo
*.tsbuildinfo
/examples/*/stats.html
/packages/@collabkit/*/stats.html
/packages/@collabkit/*/types

.buildt