.root {
  display: flex;
  border: 1px solid #2d302f;
  border-radius: 100px;
  align-items: center;
  width: 68px;
  justify-content: center;
  padding: 4px;
  gap: 4px;
}

.size {
  width: 24px;
  height: 24px;
}

.center {
  display: flex;
  line-height: 24px;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.divider {
  width: 1px;
  height: 16px;
  background: #2d302f;
}
