.root {
  display: inline-flex;
  border: 1px solid #2d302f;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  width: 85px;
}

.button {
  padding: 10px 10px 6px;
  background: red;
}

.button:first-of-type {
  padding-left: 16px;
}

.button:last-of-type {
  padding-right: 16px;
}

.divider {
  width: 1px;
  height: 16px;
  background: #2d302f;
}
