body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
} /*16px*/

@media screen and (min-width: 320px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  width: 100vw;
  overflow-x: hidden;
}
