.main {
  min-height: 100vh;
  display: grid;
  padding: 30px 0px;
  grid-template-columns: 720px;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.form {
  width: 720px;
  display: table;
  margin: 0 auto;
}
