body {
  background: #151817;
  margin: 0;
  padding: 0;
}

* {
  font-smooth: antialiased;
  box-sizing: border-box;
}

.icon-spin {
  animation: icon-spin 1s steps(8, start) infinite;
}

@keyframes icon-spin {
  to {
    transform: rotate(360deg);
  }
}
